<h2>Pedir cita</h2>

<!-- CALENDARIO -->
<div class="calendario">
  <div
    *ngFor="let dia of diasDelMes"
    (click)="seleccionarDia(dia)"
    [class.hoy]="dia === fechaActual.getDate()"
    [class.seleccionado]="dia === diaSeleccionado"
  >
    {{ dia }}
  </div>
</div>

<!-- HORAS -->
<div *ngIf="diaSeleccionado">
  <h3>Horas disponibles para el día {{ diaSeleccionado }}</h3>

  <div class="horas">
    <button *ngFor="let hora of horasDisponibles">
      {{ hora }}
    </button>
  </div>
</div>
