<nav class="navbar">
  <div class="navbar-logo">
    <div class="logo-container">
      <img src="assets/imagenes/logo.jpeg" alt="Estudio María Mejías" />
    </div>
    <span class="brand-name">María Mejías</span>
  </div>

  <ul class="navbar-links">
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Inicio</a></li>
    <li><a routerLink="/servicios" routerLinkActive="active">Servicios</a></li>
    <li><a routerLink="/resenas" routerLinkActive="active">Reseñas</a></li>
  </ul>
</nav>