<div class="contenedor-servicios-glass">
  <div *ngIf="cargando" class="loading-container">
    <div class="spinner"></div>
    <p>Cargando servicios del estudio...</p>
  </div>

  <div class="categorias">
</div>
  <div class="categoria" *ngFor="let categoria of serviciosPorCategoria | keyvalue">

    <div class="categoria-header" (click)="categoriasAbiertas[categoria.key] = !categoriasAbiertas[categoria.key]">
      <div class="titulo-y-boton">
        <h2>{{ categoria.key }}</h2>
        <button class="expansion-servicios">
          {{ categoriasAbiertas[categoria.key] ? 'v' : '>' }}
        </button>
      </div>
      
      <span class="contador">
        {{ categoria.value.length }} servicios
      </span>
    </div>

    <div class="servicios" *ngIf="categoriasAbiertas[categoria.key]">
      <div class="servicio" *ngFor="let servicio of categoria.value">
        <div class="info-servicio">
          <p>{{ servicio.nombre }}</p>
          <p class="descripcion">{{ servicio.descripcion }}</p>

          <div class="miniaturas" *ngIf="servicio.imagenes">
            <img *ngFor="let img of servicio.imagenes | slice:0:4" [src]="img" />
            <button class="ver-mas" (click)="abrirDetalle(servicio)">...</button>
          </div>
        </div>

        <div class="precio-reserva">
          <div class="precio">
            <strong>
              {{ servicio.precio | number:'1.0' }} €{{ servicio.precioPlus ? '+' : '' }}
            </strong>
            <span>{{ servicio.duracion }}</span>
          </div>
          <button (click)="abrirReserva(servicio)" class="btn-reservar">Reservar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL -->  
<app-detalle-servicio
  *ngIf="servicioSeleccionado"
  [servicio]="servicioSeleccionado"
  (cerrar)="cerrarDetalle()"
></app-detalle-servicio>

<footer class="footer-slim">
  <div class="footer-container">
    <div class="footer-left">
      <img src="assets/imagenes/logo.jpeg" alt="María Mejías" class="footer-avatar">
      <span class="copyright">© 2026 <strong>María Mejías</strong></span>
    </div>
    
    <div class="footer-right">
      <a routerLink="/resenas">Opiniones</a>
      <span class="sep">|</span>
      <a href="https://search.google.com/local/writereview?placeid=ChIJ8QsE4pllEg0RbMeMbSZCI14" target="_blank">Google Maps</a>
    </div>
  </div>
</footer>
